.toc_title{
    color: rgb(81, 180, 255);
    font-weight: bolder;

    position: relative;
    left: 22px;
}
#ic{
    position: relative;
    left: 25px;
}
#toc{


    border-style: solid;
    border-color: rgb(182, 249, 255);
    border-right: 1px;
    border-top: 1px;
    border-bottom: 1px;

    list-style: none;
}
.toc-link{
    list-style: none;
}
.toc-child{
    list-style: none;
}